<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
<main class="wp-block-group flex-grow-1">

	<!-- wp:borghamns-general/content-section {"hPadding":""} -->
        <section class="wp-block-borghamns-general-content-section pt-6 pb-6">
            <div class="container">
                <div class="row">
                    <!-- wp:borghamns-general/content-column -->
                        <div class="wp-block-borghamns-general-content-column col-12 position-relative">
                            <div class="d-flex flex-column h-100">
                                <!-- wp:heading {"textAlign":"center"} -->
                                    <h2 class="wp-block-heading has-text-align-center">Sidan kunde inte hittas!</h2>
                                <!-- /wp:heading -->
    
                                <!-- wp:paragraph {"align":"center"} -->
                                    <p class="has-text-align-center">Tyvärr så finns det inte någon sida på den här adressen. Det kan bero på att du klickat på en länk som inte fungerar eller att den aktuella sidan är borttagen.</p>
                                <!-- /wp:paragraph -->
                            </div>
                        </div>
                    <!-- /wp:borghamns-general/content-column -->
                </div>
            </div>
        </section>
    <!-- /wp:borghamns-general/content-section -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
