<!-- wp:template-part {"slug":"header","area":"header","tagName":"header"} /-->

<!-- wp:group {"tagName":"main"} -->
	<main class="wp-block-group flex-grow-1">
		<!-- wp:borghamns-general/content-section {"hPadding":""} -->
			<section class="wp-block-borghamns-general-content-section pt-6 pb-6">
				<div class="container">
					<div class="row">
						<!-- wp:borghamns-general/content-column -->
							<div class="wp-block-borghamns-general-content-column col-12 position-relative">
								<div class="d-flex flex-column h-100">
									<!-- wp:query {"queryId":6,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"exclude","inherit":true},"metadata":{"categories":["posts"],"patternName":"core/query-grid-posts","name":"Grid"}} -->
										<div class="wp-block-query">
											<!-- wp:post-template {"layout":{"type":"default","columnCount":1}} -->
												<!-- wp:group {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"layout":{"inherit":false}} -->
													<div class="wp-block-group" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px">
														<!-- wp:post-title {"isLink":true} /-->
														<!-- wp:post-excerpt /-->
														<!-- wp:post-date /-->
													</div>
												<!-- /wp:group -->
											<!-- /wp:post-template -->
										</div>
									<!-- /wp:query -->
								</div>
							</div>
						<!-- /wp:borghamns-general/content-column -->
					</div>
				</div>
			</section>
		<!-- /wp:borghamns-general/content-section -->
	</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer","tagName":"footer"} /-->
